#parrafo1{
     background-color: blueviolet;
     color: aliceblue;
     font-size: 43px;
}
#parrafo2{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 43px;
}
#parrafo3{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 43px;
}
#parrafo4{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 43px;
}